<div class="container-fluid d-none d-lg-block px-0">
    <div id="carouselExampleControls"
         class="carousel slide"
         data-bs-ride="carousel">

        <div class="carousel-inner">

            <div class="carousel-item active">

                <svg class="bd-placeholder-img"
                     width="100%"
                     height="100%"
                     xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">

                    <rect width="100%" height="100%" fill="#7DCFB6"/>

                </svg>

                <!--LEGENDA 01-->
                <div class="carousel-caption d-none d-md-block text-dark">
                    <h3>INSCRIÇÕES ABERTAS</h3>
                    <h5 class="text-white">
                        De 05 a 17 de março.
                        <br/>
                        Não perca!
                    </h5>
                </div>

            </div>

            <div class="carousel-item">

                <svg class="bd-placeholder-img"
                     width="100%"
                     height="100%"
                     xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">

                    <rect width="100%" height="100%" fill="#DBAFC1"/>

                </svg>

                <!--LEGENDA 02-->
                <div class="carousel-caption d-none d-md-block text-dark">
                    <h3>+ de 3 milhões investidos </h3>
                    <h5 class="text-white">
                        na formação de jovens universitários.
                    </h5>
                </div>

            </div>

            <div class="carousel-item">
                <svg class="bd-placeholder-img"
                     width="100%"
                     height="100%"
                     xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">

                    <rect width="100%" height="100%" fill="#75B9BE"/>
                    amarelo

                </svg>

                <!--LEGENDA 03-->
                <div class="carousel-caption d-none d-md-block text-dark">
                    <h3>Prefeitura de Santa Bárbara/MG</h3>
                    <h5 class="text-white">
                        fazendo mais, fazendo melhor!
                    </h5>
                </div>

            </div>
        </div>

        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">

            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="next">

            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
</div>