<footer class="bg-dark py-4 mt-4 {{var_position}}">
    <div class="container-fluid text-white">
        <div class="row justify-content-center">

            <!--COLUNA 1-->
            <div class="col-lg-2 text-left">
                imagem aqui
            </div>

            <!--COLUNA 2-->
            <div class="col-lg-4 text-center">

                <h5 class="fw-bold text-info">Secretaria Municipal de Educação</h5>

                <p>
                    <i class="fa-brands fa-instagram"></i>
                    <a href="#" class="text-white" style="text-decoration:none">Instagram</a>
                </p>

                <p>
                    <i class="fa-brands fa-facebook"></i>
                    <a href="#" class="text-white" style="text-decoration:none">Facebook</a>
                </p>

                <p>
                    <i class="fa-sharp fa-solid fa-phone-flip"></i>
                    <a href="#" class="text-white" style="text-decoration:none">31 9999-9999</a>
                </p>

            </div>
        </div>
    </div>
</footer>