<footer class="bg-light py-4 mt-4 {{var_position}}">
    <div class="container-fluid">
        <div class="row">

            <!--coluna1-->
        <div class="col-md-5 text-center">
            imagem aqui
            <div class="m-3">
            Rua B, 77, Centro,
            <br>
            Santa Bárbara-MG, CEP 36960-000
            </div>
        </div>


            <!--coluna2-->
        <div class="col-md-7 text-center">
            <hr>
           <b>CENTRAL DE ATENDIMENTO</b>
           <br>
           31 9999-0099
           <br>
        </div>
    </div>
</div>


        <!--ultima linha-->
        <div class="coluna3 p-3">
                <div class="row">
                    <div class="col">

                        <h5>Todos os direitos reservados | Desenvolvido por Marqueane.</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>