<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{% static 'img/educacao1.png' %}"/>
    <title>Voce na Universidade</title>

</head>

<body>
    <!--CABEÇALHO-->
    <div class="container-fluid bg-light mb-3">
        <div class="row justify-content-center">

            <div class="col-xl-10">
                <header class="bg-dark" my-2>

                {% include 'fragments/navbar.html' %}

                {% include 'fragments/carousel.html' %}

                </header>
            </div>
        </div>
    </div>
    
    <!--CONTEÚDO-->
    
    <main class="bg-light">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-10">

                    <div class="row">

                        <div class="col-lg-6 d-none d-lg-flex">
                             <!--CARD-->
                            <div class="card">

                                <img src="{% static 'core/monstros2.png' %}"
                                     class="card-img-top img-250"
                                     alt="Imagem do card">

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div _ngcontent-bxj-c72 class="texto">

                                <hr class="my-2">

                                 <h2 _ngcontent-bxj-c72>
                                     o que é o
                                     <br _ngcontent-bxj-c72>
                                     <strong _ngcontent-bxj-c72>Programa Você na Universidade?</strong>
                                 </h2>

                                 <hr class="my-2">

                                <br/>
                                    O
                                     <strong _ngcontent-bxj-c72>Programa Você na Universidade</strong>
                                    chegou para ajudar milhares de brasileiros a darem o pontapé inicial nos estudos.
                                    <br _ngcontent-bxj-c72>
                                    <br _ngcontent-bxj-c72>
                                    O programa disponibiliza
                                    <strong _ngcontent-bxj-c72>bolsas com até 70%</strong>
                                    de desconto para graduação, pós-graduação e educação básica, além de cursos técnicos
                                    e profissionalizantes, preparação para vestibulares e concursos, idiomas e educação
                                    para jovens e adultos.
                                    <br _ngcontent-bxj-c72>
                                    <br _ngcontent-bxj-c72>
                                    São mais de
                                    <strong _ngcontent-bxj-c72>35 mil instituições</strong>
                                    de ensinos parceiras para estudar. Desta forma fica mais fácil pagar a mensalidade e começar logo os estudos.
                                    <br _ngcontent-bxj-c72>
                                    <br _ngcontent-bxj-c72>
                                    Realize sua inscrição e encontre a bolsa de estudo que sempre desejou!


                             </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </main>

    <!--RODAPÉ-->

    {% include 'fragments/footer.html' %}


    <!--<footer  class="main-footer mt-5 pt-4 text-light">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <h3>Transforma Educação</h3>-->
<!--                <address>-->
<!--                    31 9999-9999-->
<!--                    <br/>-->
<!--                    <a href="mailto:vocenauniversidade@santabarbara.mg.gov.br" class="text-light">vocenauniversidade@santabarbara.mg.gov.br</a>-->
<!--                </address>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="rights pb-4">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                {% now 'Y' %} Marqueane. Todos os direitos reservados.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</footer>-->
    <!--JavaScript! -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>
</html>