<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{% static 'img/educacao1.png' %}"/>
    <title>Voce na Universidade</title>

</head>

<body>
    <!--CABEÇALHO-->
    <div class="container-fluid bg-light mb-3">
        <div class="row justify-content-center">

            <div class="col-xl-10">
                <header class="bg-dark" my-2>

                    <!--NAVBAR-->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">

                        <div class="container-fluid px-0">

                            <a class="navbar-brand" href="/">Você na Universidade</a>

                            <button class="navbar-toggler"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent"
                                    aria-controls="navbarSupportedContent"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Inscrições</a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown"
                                           role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            Dispositivos Legais
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="#">Leis</a></li>
                                            <li><a class="dropdown-item" href="#">Decretos</a></li>
                                            <li><a class="dropdown-item" href="#">Portarias</a></li>
                                            <li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown"
                                           role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            Dúvidas Frequentes
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="#">Perguntas e Respostas</a></li>
                                            <li>
                                        </ul>

                                            <li class="nav-item">
                                                <a class="nav-link active" href="#">Como funciona?</a>
                                            </li>
                                    
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </nav>

                    <!--CARROSEL-->

                    <div class="container-fluid d-none d-lg-block px-0">
                        <div id="carouselExampleControls"
                             class="carousel slide"
                             data-bs-ride="carousel">

                            <div class="carousel-inner">

                                <div class="carousel-item active">

                                    <svg class="bd-placeholder-img"
                                         width="100%"
                                         height="100%"
                                         xmlns="http://www.w3.org/2000/svg"
                                         aria-hidden="true"
                                         preserveAspectRatio="xMidYMid slice"
                                         focusable="false">

                                        <rect width="100%" height="100%" fill="#7DCFB6"/>

                                    </svg>

                                    <!--LEGENDA 01-->
                                    <div class="carousel-caption d-none d-md-block text-dark">
                                        <h3>INSCRIÇÕES ABERTAS</h3>
                                        <h5 class="text-white">
                                            De 05 a 17 de março.
                                            <br/>
                                            Não perca!
                                        </h5>
                                    </div>

                                </div>

                                <div class="carousel-item">

                                    <svg class="bd-placeholder-img"
                                         width="100%"
                                         height="100%"
                                         xmlns="http://www.w3.org/2000/svg"
                                         aria-hidden="true"
                                         preserveAspectRatio="xMidYMid slice"
                                         focusable="false">

                                        <rect width="100%" height="100%" fill="#DBAFC1"/>

                                    </svg>

                                    <!--LEGENDA 02-->
                                    <div class="carousel-caption d-none d-md-block text-dark">
                                        <h3>+ de 3 milhões investidos </h3>
                                        <h5 class="text-white">
                                            na formação de jovens universitários.
                                        </h5>
                                    </div>

                                </div>

                                <div class="carousel-item">
                                    <svg class="bd-placeholder-img"
                                         width="100%"
                                         height="100%"
                                         xmlns="http://www.w3.org/2000/svg"
                                         aria-hidden="true"
                                         preserveAspectRatio="xMidYMid slice"
                                         focusable="false">

                                        <rect width="100%" height="100%" fill="#75B9BE"/>
                                        amarelo

                                    </svg>

                                    <!--LEGENDA 03-->
                                    <div class="carousel-caption d-none d-md-block text-dark">
                                        <h3>Prefeitura de Santa Bárbara/MG</h3>
                                        <h5 class="text-white">
                                            fazendo mais, fazendo melhor!
                                        </h5>
                                    </div>

                                </div>
                            </div>

                            <button class="carousel-control-prev"
                                    type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="prev">

                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>

                            <button class="carousel-control-next"
                                    type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="next">

                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>

                        </div>
                    </div>
                    
                </header>
            </div>
        </div>
    </div>
    

    <!--CONTEÚDO-->
    
    <main class="bg-light">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-10">

                    <div class="row">

                        <div class="col-lg-6 d-none d-lg-flex">
                             <!--CARD-->
                            <div class="card">

                                <img src="{% static 'img/estudante.png' %}" class="card-img-top" alt="Imagem do card">

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div _ngcontent-bxj-c72 class="texto">
                                 <h2 _ngcontent-bxj-c72>
                                     o que é o
                                     <br _ngcontent-bxj-c72>
                                     <strong _ngcontent-bxj-c72>Programa Você na Universidade?</strong>
                                 </h2>
                                <br/>
                                    O
                                     <strong _ngcontent-bxj-c72>Programa Você na Universidade</strong>
                                    chegou para ajudar milhares de brasileiros a darem o pontapé inicial nos estudos.
                                    <br _ngcontent-bxj-c72>
                                    <br _ngcontent-bxj-c72>
                                    O programa disponibiliza
                                    <strong _ngcontent-bxj-c72>bolsas com até 70%</strong>
                                    de desconto para graduação, pós-graduação e educação básica, além de cursos técnicos
                                    e profissionalizantes, preparação para vestibulares e concursos, idiomas e educação
                                    para jovens e adultos.
                                    <br _ngcontent-bxj-c72>
                                    <br _ngcontent-bxj-c72>
                                    São mais de
                                    <strong _ngcontent-bxj-c72>35 mil instituições</strong>
                                    de ensinos parceiras para estudar. Desta forma fica mais fácil pagar a mensalidade e começar logo os estudos.
                                    <br _ngcontent-bxj-c72>
                                    <br _ngcontent-bxj-c72>
                                    Realize sua inscrição e encontre a bolsa de estudo que sempre desejou!


                             </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </main>

    <!--RODAPÉ-->

    <footer class="bg-dark py-4 my-2">
        <div class="container-fluid text-white">

            <div class="row justify-content-center">
                <!--COLUNA 1-->
                <div class="col-lg-4 text-left">
                    imagem aqui
                </div>
                <!--COLUNA 1-->

                <!--COLUNA 2-->
                <div class="col-lg-4 text-center">

                    <h5 class="fw-bold text-info">Secretaria Municipal de Educação</h5>

                    <p>
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#" class="text-white" style="text-decoration:none">Instagram</a>
                    </p>

                    <p>
                        <i class="fa-brands fa-facebook"></i>
                        <a href="#" class="text-white" style="text-decoration:none">Facebook</a>
                    </p>

                     <p>
                        <i class="fa-brands fa-youtube"></i>
                         <a href="#" class="text-white" style="text-decoration:none">YouTube</a>
                    </p>

                    <p>
                        <i class="fa-sharp fa-solid fa-phone-flip"></i>
                        <a href="#" class="text-white" style="text-decoration:none">31 9999-9999</a>
                    </p>

                </div>
                <!--COLUNA 2-->
            </div>
        </div>
    </footer>


    <!--<footer  class="main-footer mt-5 pt-4 text-light">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <h3>Transforma Educação</h3>-->
<!--                <address>-->
<!--                    31 9999-9999-->
<!--                    <br/>-->
<!--                    <a href="mailto:vocenauniversidade@santabarbara.mg.gov.br" class="text-light">vocenauniversidade@santabarbara.mg.gov.br</a>-->
<!--                </address>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="rights pb-4">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                {% now 'Y' %} Marqueane. Todos os direitos reservados.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</footer>-->
    <!--JavaScript! -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>
</html>