* {
    bodyfont-size: 90px;
    font-family: 'Nunito', sans-serif;
  }

 h1 {
    font-size: 28px;
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
  }

 h2 {
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    color:#2e5574;
    font-weight: bold;
  }

 .accordion-button  {
   color: #161616 !important;
   font-weight: bold;
   font-size: 16px;
 }

.accordion-body {
   color: #161616;
   font-size: 16px;
 }

.topo {
    background-color: #2e5574;
    padding: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
    color:#FFFFFF;
    position: relative;
}

.custom-shape-divider-bottom-1678404566 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678404837 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678404996 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678405045 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678405045 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 70px;
}

.custom-shape-divider-bottom-1678405045 .shape-fill {
    fill: #FFFFFF;
}

.coluna3 {
    color: #fff;
    font-weight:500;
    background-color: #815fa4;
}

h5 {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: #1d086d;
    text-align: center;
    color: #fff;

}

.rodape {
    font-size: 24px;
    color: #1d086d

}


