<!doctype html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'como_funciona/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Rubik:wght@300&display=swap"
          rel="stylesheet">

    <title>Como Funciona?!</title>
  </head>
  <body>

<!--CABEÇALHO-->
  <div class="container-fluid bg-light mb-3">
    <div class="row justify-content-center">

      <div class="col-xl-10">
        <header class="bg-dark" my-2>

          {% include 'fragments/navbar.html' %}


        </header>
      </div>
    </div>
  </div>

    <div class="topo">
      <h1>Como Funciona o Programa?"</h1>
      <h3>Os interessados deverão observar o seguinte procedimento:</h3>


      <div class="custom-shape-divider-bottom-1678405045">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,
                72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"></path>
        </svg>
      </div>

    </div>

<!--CONTEÚDO-->
  <main class="bg-light">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10">

          <br>

          <p>I – O interessado deverá, no período de 12 a 27 de março de 2018, no horário divulgado no site da prefeitura
            (www.santabarbara.mg.gov.br) e apresentar requerimento dirigido a Secretaria Municipal de Educação, onde comprovará
            todos os requisitos para o deferimento do benefício.</p>


          <p>II – A Secretaria Municipal de Educação, com apoio da Secretaria Municipal Desenvolvimento Social,
            Habitação e Emprego, analisará a documentação e fará a classificação dos interessados de acordo com a renda
            familiar per capta, em ordem crescente;</p>


          <p>III – Após a classificação de acordo com a renda familiar per capta e, se for o caso, aplicação das regras
            de preferência estabelecidas no art. 6o, §1o, da Lei Municipal 1775/2015, será publicada lista com os interessados
            contemplados pelo programa pela Secretaria Municipal de Educação.</p>


          <p>IV – O interessado que se sentir prejudicado com o resultado da classificação poderá requerer a reconsideração
            ao Secretário Municipal de Educação no prazo de 02 (dois) dias, apresentando desde já os fundamentos necessários
            ao acolhimento do seu pedido.</p>


          <p>V – Terminada a seleção dos estudantes interessados e decididos os eventuais pedidos de reconsideração, os
            mesmos serão cadastrados para fins de recebimento do benefício.</p>


          <h2>A inscrição poderá ser feita por representante do interessado, mediante a apresentação de procuração
            específica. A procuração poderá ser por instrumento público ou, no mínimo, com firma reconhecida em cartório.</h2>



        </div>
      </div>
    </div>
  </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

  </body>
</html>